<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @option.key %>
</p>

<p>
  <strong>Option:</strong>
  <%= @option.option %>
</p>

<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>
