<td><center><%= "#{@stat[12]}".html_safe %></center></td>
<td><center><%= "#{@stat[0]} #{@stat[6]}" %></center></td>
<td><center><%= "#{@stat[1]} #{@stat[7]}" %></center></td>
<td><center><%= "#{@stat[2]} #{@stat[8]}" %></center></td>
<td><center><%= "#{@stat[3]} #{@stat[9]}" %></center></td>
