<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title || 'JiraTestReports' %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
  
  
  
  
</head>
<body>

<%= yield %>

<div align="right">
<script type="text/javascript">
	<!--
	document.write(new Date());
	//   -->
</script>
</div> 

</body>
</html>
